body {
  background-color: #fff ;

  text-decoration: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color:#4e4e4e;
  
}

a {
  text-decoration: none;
  color: #555;
  font-size: 12px; 
}

footer {
  position:fixed;
  top:px;
  font-size:12px;
  
}



.box {
  
 
  
  position:absolute;
  width:300px;
  height:200px;
  z-index:15;
  top:50%;
  left:50%;
  margin:-100px 0 0 -150px;
  background:red;
}

.newsupdate {
  
  background-color: #efefef;
  height: 1000px;
  width: 100%;
  margin-left:px;
  margin-right:auto;
  border-radius:2px;
  box-shadow: 0px 5px 30px -5px #222;
  border: 1px solid #999;
  top:9px;
  position:relative;
  display:inline-block;
  overflow:auto;
  
  
  
}
.store {
  
  background-color: #efefef;
  height: 1000px;
  width: 100%;
  margin-left:px;
  margin-right:auto;
  border-radius:2px;
  box-shadow: 0px 5px 30px -5px #222;
  border: 1px solid #999;
  top:9px;
  position:relative;
  display:inline-block;
  overflow:auto;
}

