* {
    padding:0px;
    margin: 0px;
}

body {
    background-color: #4d4d4d;
    font-family: Novecentosanswide-DemiBold;
}
.container {
    margin: 0 auto;
    width:940px;
}

.header-main {
    border-bottom: 1px solid #dadada;
    padding: 30px 0px;
}

.header-nav ul {
    list-style: none;
    
}

.header-nav ul li {
    float:left;
    
}

.header-nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
}

